<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to(omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false }, class: "flex items-center justify-center w-full gap-3 px-3 py-2 text-sm font-semibold text-gray-100 bg-gray-700 ring-1 ring-inset ring-gray-600 hover:ring-gray-500 hover:bg-gray-600 focus-visible:ring-transparent") do %>
      <svg  class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="220" height="220" viewBox="0 0 256 256">
        <path fill="#f1511b" d="M121.666 121.666H0V0h121.666z" />
        <path fill="#80cc28" d="M256 121.666H134.335V0H256z" />
        <path fill="#00adef" d="M121.663 256.002H0V134.336h121.663z" />
        <path fill="#fbbc09" d="M256 256.002H134.335V134.336H256z" />
      </svg>
      <span class="text-sm font-semibold leading-6 uppercase ">Microsoft 365</span>
    <% end %>
  <% end %>
<% end %>
